body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s linear;
    background-color: wheat;
    color: black;
  }
  .darkback{
    background-color: rgb(55, 53, 53);
    color:wheat;
  }
  
  #switch {
    display: inline-flex;
    border: 2px solid rgb(193, 191, 191);
    background-color: rgb(5, 5, 5);
    border-radius: 25px;
    padding: 2px;
    margin-top: 9px;
    width: max-content;
    cursor: pointer;
  }
  
  .Dark {
    width: 20px;
    height: 20px;
    background-image: url("Images/moon.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .circle {
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-block: auto;
    position: relative;
    z-index: 1;
    left: -20px;
    transition: ease-in 0.5s;
  }
  
  .Light {
    width: 20px;
    height: 20px;
    background-image: url("Images/sun.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: -17px;
  }
  
  #toggle:checked + #switch .circle {
    left: 3px;
  }



  /* LOGIN FORM */

  .LoginContainer{
    text-align: center;
    width: max-content;
    padding: 10px;
    margin-inline: auto;
    color: black;
    margin-top: 5vw;
  }
  
  .form_main {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }
  
  .form_main::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(209, 193, 255);
    transform: rotate(45deg);
    left: -180px;
    bottom: 30px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
  }
  .heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 30px 0 10px 0;
    z-index: 2;
  }
  

  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .inputIcon {
    position: absolute;
    left: 3px;
  }
  
  .inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }

  .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
  }
  
  .inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
  }
  #button {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: rgb(162, 104, 255);
    height: 30px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #button:hover {
    background-color: rgb(126, 84, 255);
  }

  .forgotLink {
    z-index: 2;
    font-size: .9em;
    font-weight: 500;
    color: rgb(44, 24, 128);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  .forgotLink::after{
    content: '';
    width: 0%;
    transition: ease-in 0.3s;
  }
  .forgotLink:hover::after{
    
    border: 1px solid rgb(15, 184, 235);
    width: 100%;
    border-radius: 15px;
  }

  .WelcomeContainer {
    width: 550px;
    margin-inline: auto;
    margin-top: 10vw;
    padding: 25px;
    background: radial-gradient(
          178.94% 106.41% at 26.42% 106.41%,
          #fff7b1 0%,
          rgba(255, 255, 255, 0) 71.88%
        ),#ffffff;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
      0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
      0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    cursor: text;
  }
  .WelcomeContainer{
    color: black;
  }

  .OuterDeviceContainer{
    width: 550px;
    margin-inline: auto;
    padding: 25px;
    background: radial-gradient(
          178.94% 106.41% at 26.42% 106.41%,
          #fff7b1 0%,
          rgba(255, 255, 255, 0) 71.88%
        ),#ffffff;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
      0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
      0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    cursor: text;
    margin-top: 5vw;
  }
  
 .WelcomeContainer h1 {
    text-align: center;
    color: black;
  }
  
  /* Controls  */
  .OuterDeviceContainer {
    width: max-content;
    text-align: center;
    background-color:none;
    background: none;
    cursor: default;
    border: 2px solid rgb(155, 138, 107);
    
  }
  .deviceContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 2vw;
    margin-inline: auto;
    width: max-content;
  }
  
  .deviceCard {
    width: 15rem;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    background-color: rgba(24, 21, 21, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }
  
  .deviceCard:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1.5px solid rgba(93, 90, 90, 0.454);
  }
  
  

  .timerform{
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
  }
  #submit {
      padding: 5px;
      padding-inline: 10px;
      border-radius: 9px;
      background: #d5f365;
      border: none;
      font-family: inherit;
      text-align: center;
      cursor: pointer;
      transition: 0.4s;
  }
     
  #submit:hover {
      box-shadow: 7px 5px 56px -14px #22250b;
  }
     
  #submit:active {
      transform: scale(0.97);
      box-shadow: 7px 5px 56px -10px #C3D900;
  }
  
 