.OuterDeviceContainer .deviceContainer .deviceCard a button{
    background-color: #787979;
    box-shadow: rgba(44, 45, 44, 0.35) 0 -25px 18px -14px inset,rgba(56, 56, 56, 0.25) 0 1px 2px,rgba(98, 98, 98, 0.25) 0 2px 4px,rgba(111, 113, 112, 0.25) 0 4px 8px,rgba(110, 110, 110, 0.25) 0 8px 16px,rgba(108, 109, 108, 0.25) 0 16px 32px;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font-family: "Damion", cursive;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    transform: scale(1.02);
    font-size: 20px;
    color: black;
    font-weight: 600;
  }
  
  .OuterDeviceContainer .deviceContainer .deviceCard a button:hover {
    box-shadow:
     rgba(44, 45, 44, 0.35) 0 -25px 18px -14px inset,rgba(56, 56, 56, 0.25) 0 1px 2px,rgba(98, 98, 98, 0.25) 0 2px 4px,rgba(111, 113, 112, 0.25) 0 4px 8px,rgba(110, 110, 110, 0.25) 0 8px 16px,rgba(108, 109, 108, 0.25) 0 16px 32px;
    transform: scale(1.06);
  }




   

